{% extends "base.html" %}
{% block main %}
<div class="detail-banner">
  <img src="img/detail_top.jpg">
</div>
<div class="detail">
  <div class="container">
  <table>
    <tr>
      <td>
        <div class="detail-left">
        <h2>欢迎光临</h2>
        <ul>
          <li class="active"><a href="aboutus.html">关于我们</a></li>
          <li><a href="#">常见问题</a></li>
          <li><a href="#">一般常见问题</a></li>
          <li><a href="#">技术问题</a></li>
          <li><a href="#">存款取款</a></li>
          <li><a href="#">最新优惠</a></li>
          <li><a href="#">联系我们</a></li>
        </ul>
        </div>
      </td>
      <td>
        <div class="detail-right">
        {% block detail %}{% endblock %}
        </div>
      </td>
    </tr>
  </table>
  </div>
</div>
{% endblock %}
