/**
 * juss
 * @author chen
 * @date 20160921
 */

/** import  all valiable **/
@import 'settings';
@import 'normalize';

// Core variables and mixins
@import 'util/util';
@import 'typography';
@import 'tables';
@import 'forms';
@import 'grid';
@import 'buttons';
@import 'helper';
// Components
@import 'components/menu';
@import 'components/top-bar';
@import 'components/pagination';
// Components Javascript
@import 'components/modal';
@import 'components/slide';
// Utility classes

a:hover, a:active {
  text-decoration: none;
}


.container {
  width: 960px;
  max-width: 100%;
  margin: 0 auto;
  padding: .5rem 1rem;
  box-sizing: border-box;
}

.banner {
  .slide {
    height: 400px;
  }
  .slide__nav {
    right: 50%;
    transform: translateX(50%);
  }
}

.header {
  background-image: url(../img/header.png);
  background-size: cover;
  p {
    color: #7fbffa;
    a {
      color: #7fbffa;
      font-size: 0.85rem;
    }
  }
  .logo {
  }
  .container {
    position: relative;
    &:before, &:after {
      content: '';
      display: block;
      clear: both;
    }
  }
  table {
    //float: right;
    //width: 500px;
    //max-width: 100%;
    margin: 0;
    background: transparent;
    td {
      padding: 0.25rem;
      border: none;
      font-size: 0.85rem;
      input:not([type='submit']) {
        height: auto;
        line-height: 1.5rem;
        border-radius: 0.5rem;
        border: none;
        box-shadow: 0px 0px 3px 1px rgba(black, 0.8);
        //outline: #00335a inset 2px;
        padding: 0 .5rem;
        margin: 0;
        background: #005da4;
        color: white;
      }
    }
    .valid-code {
      position: relative;
      input {
      }
      img {
        height: calc(1.5rem - 2px);
        position: absolute;
        right: calc(0.25rem + 1px);
        top: calc(0.25rem + 1px);
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
    .login-td {
      div {
        border-radius: 5px;
        background: #311c1c;
        height: 1.5rem;
        line-height: 1.5rem;
      }
      input {
        float: left;
        padding: 0;
        width: 50%;
        text-align: center;
        margin: 0;
        border: none;
        border-radius: 5px;
        background: gold;
        color: #311c1c; 
      }
      a {
        float: left;
        display: inline-block;
        width: 50%;
        text-align: center;
        color: gold;
      }
    }
  }
}

.top-menu {
  background: #1e50a2;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      border-radius: 1rem;
      a {
        padding: .5rem 1.2rem;
        font-size: 0.85rem;
        color: white;
      }
      &:hover, &:active {
        background: #ca3334;
        a {
          color: white;
        }
      }
    }
    .active {
      background: #ca3334;
      a {
        color: white;
      }
    }
    .extra-gold {
      background: gold !important;
      a {color: red !important}
    }
    .extra-blue {
      background: #4e81d6 !important;
      a {color:white !important}
    }
  }
}

.main {
  padding-bottom: 1rem;
  background-image: url(../img/main_bg.jpg);
  background-size: cover;
  table {
    margin: .5rem 0;
    border-radius: 1rem;
    background: #2052a8;
    tr {
      td {
        padding: .25rem 1rem;
        border: none;
        font-size: 0.85rem;
        color: #73a7fc;
        &:first-child {
          border-radius: 1rem 0 0 1rem;
          text-align: center;
          background: #062961;
          color: gold;
        }
      }
    }
  }
  .wrap {
    @include clearfix;
    .small-6 {
      float: left;
      div {
        border: 0.3rem solid #194ca3;
        padding: .8rem;
        text-align: center;
        background: #0f3a7b;
        h4 {
          font-size: 1.2rem;
          color: rgba(white, 0.85);
        }
      }
    }
  }
}

.detail {
  background-image: url(../img/detail_main.jpg);
  .container {
    padding: 1rem .5rem;
  }
  .detail-page {
    p {
      font-size: 0.85rem;
      color: rgba(white, 0.87);
    }
  }
  & > .container > table {
    background: #012e70;
    box-shadow: 2px 2px 1px 2px rgba(black, 0.6);
    & > tbody > tr {
      & > td {
        border: none;
        &:first-child {
          white-space: nowrap;
          width: 260px;
        }
      }
    }
  }
  .detail-left {
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    border: 2px solid #074391;
    background: #021d44;
    text-align: center;
    h2 {
      color: gold;
      font-size: 1.75rem;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        line-height: 2.5rem;
        border-bottom: 1px solid #132e5a;
        a {
          color: white;
        }
        &:hover a {
          color: gold;
        }
      }
    }
  }
  .detail-right {
    padding: 1.5rem 1rem;
    box-sizing: border-box;
    border: 2px solid #074391;
    background: #072a65;
    color: rgba(white, 0.87);
    h4 {
      font-size: 1.25rem;
      padding-bottom: .5rem;
      border-bottom: 2px solid #074391;
    }
    table {
      background: transparent;
      .required > td:first-child {
        label {
          &:before {
            content: "*";
            color: red;
            margin-right: .25rem;
          }
        }
      }
      td {
        padding: 0.25rem .5rem;
        border: none;
        input {
          width: 300px;
          max-width: 100%;
          margin-bottom: 0;
          height: 2rem;
          line-height: 2rem;
          padding: 0 .5rem;
          border: 2px solid #074391;
          font-size: 0.85rem;
          background: #013175;
          color: rgba(white, 0.85);
        }
        &:first-child {
          line-height: 2rem;
          text-align: right;
          font-size: 0.85rem;
        }
        span {
          font-size: 0.8rem;
        }
      }
    }
    .valid-code {
      input {
        display: inline-block;
        width: 120px;
      }
      img {
        height: 1.8rem;
      }
    }
    .form-action {
      text-align: center;
    }
    .button {
      padding: 0.25rem 1rem;
      background: #e6e6e6;
      color: rgba(black, 0.85);
    }
  }
}

.separate-password {
  height: 32px;
  font-size: 16px;
  letter-spacing: calc(32px/60*100 - 8px);
  border: 0 !important;
  background: transparent !important;
  background-image: url('../img/spborder.png') !important;
  background-position: left !important;
  background-size: auto 100% !important;
  background-repeat: no-repeat !important;
  padding-left: calc(32px/60*100*0.4 - 4px) !important;
  box-sizing: border-box;
  user-select: none !important;
  &:focus {
    outline: none;
  }
}


.m-form {
  background-image: url(http://m.jdv9.com/images/bg2.jpg);
  .top-bar {
    line-height: 3rem;
    height: auto;
    background: rgba(white, 0.54);
    span {
      font-size: 0.95rem;
      color: rgba(black, 0.87);
    }
    a {
      color: rgba(black, 0.87);
      font-size: 1.5rem;
    }
  }
  form {
    padding: 1.5rem;
    p {
      font-size: 0.85rem;
      color: rgba(black, 0.85);
    }
    .input-field {
      span {
        line-height: 2rem;
        font-size: 0.8rem;
        color: rgba(black, 0.54);
      }
      .error {
        color: rgba(red, 0.54);
      }
    }
    .input-icon {
      border: 1px solid rgba(white, 0.6);
      border-radius: 2px;
      display: flex;
      i {
        display: block;
        min-width: 3rem;
        line-height: 2.5rem;
        text-align: center;
        background: rgba(white, 0.38);
        font-size: 1.2rem;
        color: rgba(black, 0.72);
      }
      input {
        margin: 0;
        border: none;
        background: rgba(white, 0.12);
        font-size: 0.85rem;
      }
    }
    input[type='submit'] {
      margin: 1.5rem 0 1rem;
      background: rgba(#1d87ff, 0.8);
    }
    a {
      color: #1d87ff;
    }
  }
}
